/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 20px 0;
	padding: 0;
	background: #B9DACA url(../imagenes/images/img1.gif) repeat-y center top;
	font: normal small Georgia, "Times New Roman", Times, serif;
	color: #336666;
}

blockquote {
	font-style: italic;
}

a {
	border-bottom: 1px dotted #336666;
	color: #874B46;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #FFFFFF;
}

/* Header */

#header {
	margin: 0 auto;
	padding: 0 0 1em 0;
}

#header * {
	margin: 0;
	padding: 0;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #479BB5;
}

#header h1 {
	font-size: 2.5em;
}

#header h2 {
	font-size: 1em;
}

/* Content */

#content {
	width: 750px;
	margin: 0 auto;
}

/* Column One */

#colOne {
}

#colOne .post {
	padding: 1em 0 2em 0;
	background: url(images/img2.gif) no-repeat center top;
}

#colOne .title {
	padding: 0 0 0 130px;
	font-size: 2em;
	font-weight: normal;
}

#colOne .posted {
	float: left;
	width: 100px;
	padding: 4px 15px 0 0;
	text-align: right;
	font-size: 1em;
	color: #B9DACA;
}

#colOne .story {
	float: left;
	width: 370px;
	padding: 0 0 0 15px;
}

#colOne .story p, #colOne .story ol, #colOne .story ul {
	line-height: 180%;
	text-align: justify;
}

#colOne .meta {
	clear: both;
	padding: 0 0 0 130px;
	font-size: x-small;
}

/* Column Two */

#colTwo {
	padding: 1em 0;
	background: url(../imagenes/images/img2.gif) no-repeat center top;
}

#colTwo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#colTwo li {
	display: block;
	float: left;
	width: 33%;
}

#colTwo li ul {
	line-height: 160%;
}

#colTwo li li {
	display: list-item;
	float: none;
	width: auto;
	font-size: x-small;
}

#colTwo h2 {
	margin: 0 0 .5em 0;
	padding: 3em 0 0 0;
	text-transform: uppercase;
	font-size: x-small;
}


/* Footer */

#footer {
	clear: both;
	margin: 2em;
	padding: 1em 0;
	background: url(../imagenes/images/img2.gif) no-repeat center top;
}

#footer p {
	text-align: center;
	font-size: x-small;
}